In [1]:
exec(open('test1.py').read())

Hi!
Ingrese su nombre: lorena
Buen d√≠a lorena

In [4]:
import collections
from pprint import pprint
import time

In [13]:
def transform(x):
    print(f'Processing record {x.name}')
    time.sleep(1)
    result = {'name': x.name, 'age': 2019-x.born}
    print(f'Done processing record {x.name}, {x.born}')
    return result

In [14]:
Scientist = collections.namedtuple('Scientist', [    ##factory function for creating tuple subclasses with named fields
        'name',
        'field',
        'born',
        'nobel',
])

In [15]:
scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False),
)

pprint(scientists)

(Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

In [16]:
start = time.time()

result = tuple(map(transform, scientists))

end = time.time()


print()
print(f'Time to complete: {end-start:.2f}\n')
pprint(result)

Processing record Ada Lovelace
Done processing record Ada Lovelace, 1815
Processing record Emmy Noether
Done processing record Emmy Noether, 1882
Processing record Marie Curie
Done processing record Marie Curie, 1867
Processing record Tu Youyou
Done processing record Tu Youyou, 1930
Processing record Ada Yonath
Done processing record Ada Yonath, 1939
Processing record Vera Rubin
Done processing record Vera Rubin, 1928
Processing record Sally Ride
Done processing record Sally Ride, 1951

Time to complete: 7.02

({'age': 204, 'name': 'Ada Lovelace'},
 {'age': 137, 'name': 'Emmy Noether'},
 {'age': 152, 'name': 'Marie Curie'},
 {'age': 89, 'name': 'Tu Youyou'},
 {'age': 80, 'name': 'Ada Yonath'},
 {'age': 91, 'name': 'Vera Rubin'},
 {'age': 68, 'name': 'Sally Ride'})

In [7]:
print(result)

({'name': 'Ada Lovelace', 'age': 204}, {'name': 'Emmy Noether', 'age': 137}, {'name': 'Marie Curie', 'age': 152}, {'name': 'Tu Youyou', 'age': 89}, {'name': 'Ada Yonath', 'age': 80}, {'name': 'Vera Rubin', 'age': 91}, {'name': 'Sally Ride', 'age': 68})

In [ ]:
import itertools

In [ ]:
def funcion1(x,y):
    return x*y

In [ ]:
y=2
lista=[1,2,3] #elements represent the x parameter in funcion1
res=list(map(funcion1, lista, itertools.repeat(y)))
print(res)

# Listas

In [9]:
L = [123, 'spam', 1.23]

In [10]:
len(L)

3

In [11]:
L[0]

123

In [14]:
L[:-1]

[123, 'spam']

In [15]:
L + [4, 5, 6]

[123, 'spam', 1.23, 4, 5, 6]

In [16]:
L * 2

[123, 'spam', 1.23, 123, 'spam', 1.23]

In [17]:
print(L)

[123, 'spam', 1.23]

In [18]:
L.append('NI')

In [19]:
L

[123, 'spam', 1.23, 'NI']

In [20]:
L.pop(2)

1.23

In [21]:
L

[123, 'spam', 'NI']

In [22]:
M = ['bb', 'aa', 'cc']

In [26]:
M.sort()

In [27]:
M

['aa', 'bb', 'cc']

In [28]:
M.reverse()

In [29]:
M

['cc', 'bb', 'aa']

In [36]:
M = [[1, 2, 3], 
    [4, 5, 6],
    [7, 8, 9]]

In [31]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
M[1]

[4, 5, 6]

In [33]:
M[1][2]

6

Comprehensions

In [35]:
col2 = [row[1] for row in M]

In [39]:
col2

[2, 5, 8]

In [38]:
[row[1] + 1 for row in M]

[3, 6, 9]

In [40]:
[row[1] for row in M if row[1] % 2 == 0]

[2, 8]

In [41]:
diag = [M[i][i] for i in [0, 1, 2]]

In [42]:
diag

[1, 5, 9]

In [43]:
doubles = [c * 2 for c in 'spam']

In [44]:
doubles

['ss', 'pp', 'aa', 'mm']

In [45]:
list(range(4))

[0, 1, 2, 3]

In [50]:
list(range(-6, 7, 2))

[-6, -4, -2, 0, 2, 4, 6]

In [51]:
[[x ** 2, x ** 3] for x in range(4)]

[[0, 0], [1, 1], [4, 8], [9, 27]]